body {
    font-family: Copperplate, fantasy;
    background-color: #DFC1FA;
    margin: 0;
    margin-right: 0;
    padding: 0px;
  }


.cranberry{
  display: flex;
  justify-content: center;
  padding-top: 5px;
  background-color: rgb(75, 0, 130, 0.6);;
}

.flushednav {
  width: 100%;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #6a5acd;
}

#flushed{
  padding-right: 0px;
  padding-left: 0px;
}

.flushed{
  border: none;
  background-color: transparent;
  display: flex;
  align-self: center;
}

.navbarimage{
  background-image: url(assets/images/NavBarBD.jpg);
}

ol, ul{
  padding: 0%;
}

#homepagb{
  width: 100%;
  display: flex;
  justify-content: center;
}


.navbar {
  display: flex;
  font-family: fantasy, cop;
  text-align: center;
  overflow: auto;
  justify-content: center;
  border-bottom: black;
}

.navbar li {
    margin: 0 15px;
}
  
li a {
  display: flex;
  color: rgb(255, 255, 255);
  align-content: left;
  font-size: x-large;
}



li a:hover {
  background-color: #a034ff;
  border-radius: 15px;
  border-style: solid;
  border-color: rgb(117, 9, 131);
}

#mainobj{
  font-family: fantasy, cop;
  text-align: center;
  background-color: rgb(255, 255, 255, 0.5);
}

.vp{
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: justify;
  align-content: center;
  text-decoration: none;
}

.vp-item{
  background-color: transparent;
}


#rules{
  font-family: fantasy, cop;
  text-align: center;
  overflow: auto;
}

#victorypoints{
    font-family: fantasy, cop;
    text-align: center;
    overflow: auto;
}

.bg {
    background-image: url(assets/images/cube.avif);
    background-repeat: no-repeat;
    background-blend-mode: overlay;
    background-size: 100%;
}

.pcount-body{
  background-color: white;
}

.vp-body{
  text-align: center;
  background-color: white;
}


/* GameTracker.html  */
#trait-selector {
  color: #000000c2;
  font-family: fantasy, cop;
}

#trait-info{
  color:#000000c2;
  font-family: fantasy, cop;
}

.bigbody {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the body takes the full height of the viewport */
}

#biggerbody {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  width: 100%; /* Ensure the container takes the full width of the viewport */
}
